@tailwind base;
@tailwind components;
@tailwind utilities;

 
.active a{
    background: black;;
    color: white;
}

.page-item:hover a{
    background: black;
    color: white;
}

.page-item a{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../public/static/background.png');
}

.-z-index-1{
    z-index: -1;
}

.z-index-5{
    z-index: 5;
}

.header-bg{
    background: #8B0000;
}

.A4C8F2{
    background-color: #D98719;
}

.A638EC0{
    background-color: #8B4513;

}
.CE007C{
    color: #000000;
}

.Ob1127{
    background-color: #DC143C;
}

.description{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

 .title{height: 56px;}